:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.tic-tac-toeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.row {
  display: flex;
}


.square {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  font-weight: bold;
  background-color: #f2f3a4;
  border: 2px solid #d3a9a9;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #3cc1e9;
}

.square:hover {
  background-color: #e89ceb;
}

.status{
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset{
  padding: 12px;
  background-color: #ec6161;
  border: none;
  border-radius: 10px;
  margin-top: 12px;
}