.parent-container{
    padding: 10px;
}

.form-container{
    width: 400px;
    height: 500px;
}

.form-container div{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

input{
    padding: 5px;
}